<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.name %></title>
  </head>
  <body>
    <table>
      <tr>
        <td>Student ID</td>
        <td><%= data.id %></td>
      </tr>
      <tr>
        <td>Full Name</td>
        <td><%= data.name %></td>
      </tr>
      <tr>
        <td>Meri Scholarship</td>
        <td><%= data.scholarship.merit %></td>
      </tr>
      <tr>
        <td>Other Scholarship</td>
        <td><%= data.scholarship.other %></td>
      </tr>
    </table>
    <br />
    <a href="/students">Go Back student page</a>
  </body>
</html>
